<li class="list-group-item">
  {{#if devoured}}
    <img src="/assets/images/burger-bite.png" alt="burger image" class="burgerIcon">
    {{burger_name}}
    <button data-id="{{id}}" type="button" class="remove-burger">
      Remove
    </button>
  {{else}}
    <img src="/assets/images/full-burger.jpeg " alt="burger image" class="burgerIcon">
    {{burger_name}}
    <button data-id="{{id}}" type="button" class="devour-burger">
      Devour it!
    </button>
  {{/if}}    
</li>
